@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 232,
    248,
    250;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb:232,
      250,
      252;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(13, 14, 14)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.rotate--45 {
  transform: rotate(-45deg);
}

.box-container:hover .rotate--45 {
  transform: rotate(0deg);
  /* Reverse rotation on hover */
}